backend:
  image: "ghcr.io/fritzduchardt/fabric"
  tag: "main"
  port: 80
  targetPort: 8080
  replicas: 1
  nodeSelector:
    kubernetes.io/hostname: friclu-1
  # where fabric looks for configuration
  fabricConfigHome: "/home/fabric/.config/fabric"
  # where all synced files are on the host node including patterns and obsidian files
  syncFiles: /volumes/syncthing
  renderedPatterns: /volumes/fabric/rendered-patterns
  # folder to which we mount the sync files in the backend pod
  syncFilesMountPath: "/home/fabric/sync"
  # folder within sync files that contain patterns
  patternFolder: "Sync/patterns"
  # folder within sync files that contain obsidian files
  obsidianFolders:
    - "Sync/private"
  personal:
    name: "Fritz"
    birthYear: "1976"
    gender: "male"
  journalFileRetroMonths: 3
  telegramBotToken: ""
  weaviateClass: "PatternFile"
  weaviateCertainty: "0.8"
  weaviateUrl: "weaviate.weaviate"
  mcpServer: "http://finclaw.finclaw:8000/mcp"
ui:
  image: "ghcr.io/fritzduchardt/fabric-ui"
  tag: "master"
  servicePort: 80
  containerPort: 8080
  title: "FritzGPT"
  iconPath: "icons/turtle"
  backendUrl: "https://{{ .Values.ingress.host }}/api"
  defaultModel: "o4-mini"
  defaultPattern: "journal"
ingress:
  className: nginx
  host: fabric-friclu.duckdns.org
  path: /
  tls:
    enabled: true
    secretName: fabric-certificate
    letsEncrypt:
      enabled: true
      clusterIssuer: http01
service:
  type: ClusterIP
basicAuth:
  enabled: false
  create: true
  secretName: ""
  authFile: "auth/htpasswd"
oauth2Proxy:
  enabled: false
  image: "quay.io/oauth2-proxy/oauth2-proxy"
  tag: "v7.9.0"
  issuerUrl: ""
  clientID: ""
  clientSecret: ""
  redirectUrl: ""
  cookieSecret: ""
  emailDomains: "*"
  proxyPort: 8888
nginxExporter:
  image: nginx/nginx-prometheus-exporter
  tag: latest
  port: 9113
