apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-backend
  namespace: {{ .Release.Name }}
  labels:
    app: {{ .Release.Name }}
    component: backend
spec:
  replicas: {{ .Values.backend.replicas }}
  selector:
    matchLabels:
      app: {{ .Release.Name }}
      component: backend
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}
        component: backend
    spec:
      {{- if .Values.backend.nodeSelector }}
      nodeSelector:
{{ toYaml .Values.backend.nodeSelector | indent 8 }}
      {{- end }}
      containers:
      - name: {{ .Release.Name }}-backend
        image: "{{ .Values.backend.image }}{{- if .Values.backend.sha }}@{{ .Values.backend.sha }}{{- else }}:{{ .Values.backend.tag }}{{- end }}"
        imagePullPolicy: Always
        ports:
        - containerPort: {{ .Values.backend.port }}
        volumeMounts:
        - name: fabric-env
          mountPath: "/home/fabric/.config/fabric/.env"
          subPath: .env
        - name: rendered-patterns
          mountPath: "/home/fabric/.config/fabric/patterns"
        - name: sync
          mountPath: "{{ .Values.backend.syncFilesMountPath }}"
        env:
          - name: FABRIC_CONFIG_HOME
            value: "{{ .Values.backend.fabricConfigHome }}"
          {{- range $index, $path := .Values.backend.obsidianFolders }}
          - name: OBSIDIAN_VAULT_PATH_{{ add $index 1 }}
            value: "{{ printf "%s" $path }}"
          {{- end }}
          - name: OBSIDIAN_BASE_PATH
            value: {{ .Values.backend.syncFilesMountPath }}
          - name: FABRIC_PATTERN_PATH
            value: "{{ printf "%s/%s" .Values.backend.syncFilesMountPath .Values.backend.patternFolder }}"
          - name: PERSONAL_NAME
            value: {{ .Values.backend.personal.name | quote }}
          - name: GENDER
            value: {{ .Values.backend.personal.gender | quote }}
          - name: BIRTH_YEAR
            value: {{ .Values.backend.personal.birthYear | quote }}
          - name: TELEGRAM_BOT_TOKEN
            value: {{ .Values.backend.telegramBotToken | quote }}
          - name: JOURNAL_FILE_RETRO_MONTHS
            value: {{ .Values.backend.journalFileRetroMonths | quote }}
          - name: WEAVIATE_URL
            value: {{ .Values.backend.weaviateUrl }}
          - name: WEAVIATE_CERTAINTY
            value: "{{ .Values.backend.weaviateCertainty }}"
          - name: WEAVIATE_CLASS
            value: {{ .Values.backend.weaviateClass }}
      volumes:
      - name: fabric-env
        secret:
          secretName: fabric
      - name: sync
        persistentVolumeClaim:
          claimName: sync
      - name: rendered-patterns
        persistentVolumeClaim:
          claimName: rendered-patterns
