apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-ui
  namespace: {{ .Release.Name }}
  labels:
    app: {{ .Release.Name }}
    component: ui
spec:
  type: {{ .Values.service.type }}
  ports:
  - port: {{ .Values.ui.servicePort }}
    targetPort: {{ if .Values.oauth2Proxy.enabled }}{{ .Values.oauth2Proxy.proxyPort }}{{ else }}{{ .Values.ui.containerPort }}{{ end }}
    name: http
  - port: {{ .Values.nginxExporter.port }}
    targetPort: {{ .Values.nginxExporter.port }}
    name: metrics
  selector:
    app: {{ .Release.Name }}
    component: ui
